html, body {
  height: 100%;
  padding: 0;
  margin: 0
}

* {
  box-sizing: border-box;
}

:root {
  --clock-colour: #ef3200;
  --ui-colour: rgb(222, 222, 230);
  --ui-secondary-colour: rgb(230, 230, 255);

  --dimension-multiplier: 1;
  --clock-dimension: calc(var(--dimension-multiplier) * 20rem);

  --display-font: "Silkscreen", sans-serif;
  --background-colour: #00ff00;
  --primary-colour: black;
  --secondary-colour: rgb(222, 222, 222);
  --stroke-colour: white;
}

body {
  font-family: sans-serif;
  background-color: var(--background-colour);
  transition: 200ms all;
}

main {
  display: grid;
  grid-template-columns: 1fr 15cm;
  height: 100%;
}

#controls-panel {
  background-color: var(--ui-colour);
  padding: 1rem;
  height: 4rem;
  width: 4rem;

  justify-self: end;

  transition: 200ms all;
}

#controls-panel:open {
  height: 100%;
  width: 100%;
}

#ui-form {
  display: flex;
  gap: 5px;
  flex-direction: column;

  label {
    display: flex;
    justify-content: space-between;
    background-color: var(--ui-secondary-colour);
    border-radius: 1rem;
    padding: 1rem;
  }
}

.clock {
  height: var(--clock-dimension);
  width: var(--clock-dimension);
  max-width: 100%;
  margin: calc(var(--dimension-multiplier) * 15vh) auto;
  padding: 1rem;
  transform: scale(var(--dimension-multiplier));
}

#timer-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;

  label {
    grid-row: 1;
    grid-column: auto / span 2;
  }

  button {
    grid-row: 2;
    grid-column: auto / span 3;
  }
}

.timer-svg {
  /* Make timer look anticlockwise */
  transform: scaleX(-1);
}

.timer-circle {
  fill: none;
  stroke: none;
}

#timer-circle-stroke {
  stroke-width: 10px;
  stroke: var(--stroke-colour);
}

/* The SVG path that displays the timer's progress */
#timer-circle-base {
  stroke-width: 8px;
  stroke: var(--secondary-colour);
}

@keyframes countdown {
  0% { stroke-dasharray: 283 283 }
  100% { stroke-dasharray: 0 283 }
}

#timer-indicator-ring {
  stroke-width: 8px;
  stroke-linecap: unset;

  transform-origin: center;
  animation: countdown linear forwards;

  stroke: var(--primary-colour);
}

#display {
  color: var(--primary-colour);

  position: relative;
  top: calc(-1 * var(--clock-dimension));

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--clock-dimension);
  width: var(--clock-dimension);
  max-width: 100%;

  font-size: calc(var(--dimension-multiplier) * 3rem);
  font-family: var(--display-font);

  -webkit-text-stroke: 5px var(--stroke-colour);
  paint-order: stroke fill;
}

aside {
  display: none;
}
