:root {
  --clock-colour: #ef3200;
  --clock-dimension: 20rem;
  --display-font: "Silkscreen", sans-serif;
  --background-colour: #00ff00;
}

body {
  font-family: sans-serif;
  background-color: var(--background-colour);
}

main {
}

.timer-svg {
}

.timer-circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.timer-circle-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.clock {
  height: var(--clock-dimension);
  width: var(--clock-dimension);
  margin: auto;
}

#display {
  position: relative;
  top: calc(-1 * var(--clock-dimension));

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--clock-dimension);
  width: var(--clock-dimension);

  font-size: 3rem;
  font-family: var(--display-font);

  -webkit-text-stroke: 5px white;
  paint-order: stroke fill;
}

#controls {
  display: none;
}
